body { 
    background-image:url('https://cdn.wallpapersafari.com/27/63/K89E4N.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container  {
width:35%;
padding-bottom: 10px;
}
.container {
font-size:4em;

font-weight: bolder;
padding-bottom: 10px;
border-bottom: 3px solid rgb(226, 211, 211);
}
.container  span{
font-weight: 10;
}
.text{
    font-size: 2em;
    padding-top: 2em;
    color: #fff;
    letter-spacing: 1mm;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #d95a1f;
    width: 400px;
    padding:20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:0 0 10px rgba(0,0, 0, 0.1) ;
    -webkit-transition-duration:0.3s ;
    transition-duration: 0.3s;
    -webkit-transition-property:box-shadow,transform ;
    transition-property:box-shadow,transform ;
    margin-top:20mm;
    }
    .btn:hover,.btn:focus,.btn:active{
    box-shadow: 0 0 20px rgba(0, 0,0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
    
    }

    .btn1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto",sans-serif;
        font-size: 16px;
        font-weight: bold;
        background: #d91f1f;
        width: 100px;
        padding:20px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color:#fff;
        border-radius: 5px;
        cursor: pointer;
        box-shadow:0 0 10px rgba(0,0, 0, 0.1) ;
        -webkit-transition-duration:0.3s ;
        transition-duration: 0.3s;
        -webkit-transition-property:box-shadow,transform ;
        transition-property:box-shadow,transform ;
        margin-top:20mm;
        letter-spacing: 3px;
        }
        .btn1:hover,.btn1:focus,.btn1:active{
        box-shadow: 0 0 20px rgba(0, 0,0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        
        
        }